@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-headers: 'Germania One', Garamond;

$font-normal-size: 16px;
$font-header-size: 3em;