<div class="trued6">
  <div class="chat-item-description">
    <label class="label separator-line top-left top-right big3">
      {{name}}
    </label>
    <div class="characteristics">
      {{#if img}}
      <img src="{{img}}" />
      {{/if}}
      <span class="big1-5 align-center">
        {{{label}}}
      </span>
    </div>
    <div class="description">
      {{{system.description}}}
    </div>
  </div>
</div>