.chat-item-description {
  @extend .border;

  .description {
    padding: 0px 5px;
    text-align: justify;
  }

  .characteristics {
    float: left;
    display: flex;

    img {
      width: 120px;
    }

    span {
      flex: 1;
    }
  }
}